APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost


DEEP_LINK_APP_SCHEME=http://127.0.0.1:8000
DEEP_LINK_IOS_STORE_URL=https://apps.apple.com/us/app/%D8%B9%D8%A7%D9%84%D9%85-%D8%A3%D9%86%D8%B9%D8%A7%D9%85/id6754884964
DEEP_LINK_ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=com.anaamworld.app&hl=ar
DEEP_LINK_FALLBACK_PROFILE_URL=https://mazadat.com/u/{id}
DEEP_LINK_ANDROID_PACKAGE_NAME=com.anaamworld.app
DEEP_LINK_ANDROID_SHA256_CERT_FINGERPRINTS=F3:48:BB:8E:70:F9:B9:46:B5:C1:27:69:E5:31:2E:7F:5F:93:7B:BD:AB:F9:7C:E8:C3:1B:B7:DE:39:8F:D5:92,15:A5:40:EF:79:1E:0B:94:8B:F2:AC:49:57:E7:45:61:B0:9E:BE:3F:15:96:A0:59:6E:B9:D8:EF:52:24:90:96,B8:88:09:36:AB:00:98:20:D6:1E:
DEEP_LINK_IOS_TEAM_ID=S2QF6L6CJZ
DEEP_LINK_IOS_BUNDLE_IDS=com.anaamworld.app
DEEP_LINK_PATHS=/u/*

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
